<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Application Approved</title>
    <style>
      .wrapper {
        width: 600px;
        padding: 2rem;
        margin: 0 auto;
      }
      p {
        font-size: 1.25rem;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <p>Hello {{application.first_name}},</p>
      <p>
        We are pleased to inform you that your application for the Self Employed Government
        Unemployment Assistance has been approved.
      </p>
      {%if application.tourism_industry == 'Yes'%}
      <p>
        The assistance will span a total of 8 weeks.
      </p>
      {%endif%}
    </div>
  </body>
</html>
