<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Application Successfully Submitted</title>
    <style>
      .wrapper {
        width: 600px;
        padding: 2rem;
        margin: 0 auto;
      }
      p {
        font-size: 1.25rem;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <p>Hello,</p>
      <p>Please be advised that the check run has been aborted for the reson below.</p>
      <p>{{error_message}}</p>
    </div>
  </body>
</html>
