<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Payment Notice</title>
    <style>
      .wrapper {
        width: 600px;
        padding: 2rem;
        margin: 0 auto;
      }
      p {
        font-size: 1.25rem;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <p>Hello {{application.first_name}},</p>
      <p>
        A payment for your {{application.type}} application has been generated
        for the following pay period:
      </p>
      <p>
        {{application.payment.beg_pay_period}} -
        {{application.payment.end_pay_period}}
      </p>
      <p>
        {{application.payment.num_weeks_paid}} of {{application.max_weeks}}
        weeks paid.
      </p>
      {%if appplication.payment.pmt_type == 'EFT'%}
      <p>
        Payments should be visible on the account specified below within the 1-3
        business days:
      </p>
      <ul>
        <li>Bank: {{application.bank.branch}}</li>
        <li>Account Number: {{application.bank.bank_account_number}}</li>
      </ul>
      {{%elif appplication.payment.pmt_type == 'Check' %}}
      <p>
        Your check should be ready for pick up within the 1-3 business days.
      </p>
      {%endif%}
    </div>
  </body>
</html>
