[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask-cors = "*"
flask = "*"
cx-oracle = "*"
redis = "*"
rq = "*"
flask-jwt-extended = "*"
ldap3 = "*"
wfastcgi = "*"
flask-apscheduler = "*"
apscheduler = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
